/* GLOBAL */
html {
    font-family: 'Nunito', sans-serif;
    color: #012340;
}

body {
    margin: 0 auto;
}

h1, h2 {
    color: #A62639;
    font-family: 'Halant', serif;
}

h3 {
    font-family: 'Lora', serif;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    background-color: #A62639;
    color: white;
    border-radius: 0.4rem;
    border-width: 0.2rem;
    padding: 0.7rem;
    border-color: #012340;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

button:hover {
    color: #A62639;
    background-color: white;
    border-color: #A62639;
}


/* HEADER */


header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 1rem 0;
}

/* Logo */

#logo-wrapper {
    margin-left: 4rem;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo img {
    height: 1.5rem;
    width: 3rem;
    filter: invert(20%) sepia(35%) saturate(4333%) hue-rotate(330deg) brightness(93%) contrast(93%);
}

#logo h1 {
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    letter-spacing: 0.1rem;
}


/* Nav */

nav {
    margin-right: 4rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-left: 1rem;
}

nav a {
    text-decoration: none;
    color: #012340;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.1rem 0.4rem;
    border-radius: 0.4rem;
}

nav a:hover {
  color: white;
  background-color: #A62639;
}


/* Hero */

#hero {
    display: flex;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 2rem;;
    height: 70vh;
}

#hero-image {
    width: 40%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-image img {
    height: 70vh;
}

#hero h3 {
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
}

#hero-text-wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero-title-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero-title-text img {
    height: 3rem;
    width: 6rem;
    filter: invert(20%) sepia(35%) saturate(4333%) hue-rotate(330deg) brightness(93%) contrast(93%);
}

#hero-title-text h2 {
    font-weight: 500;
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid #A62639;
    margin: 0;
}

#hero-title-text h3 {
    font-style: italic;  
    margin-top: 0.5rem;
    margin-bottom: 3rem;  
}

#hero-sub-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero-sub-text button {
    margin-top: 1rem;
    font-size: 1.5rem;
}

