/* GLOBAL */
html {
    font-family: 'Nunito', sans-serif;
    color: #012340;
    font-size: 16px;
}

body {
    margin: 0 auto;
    padding-top: 5rem;
}

h1, h2 {
    color: #A62639;
    font-family: 'Halant', serif;
}

h3 {
    font-family: 'Lora', serif;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    background-color: #A62639;
    color: white;
    border-radius: 1.8rem;
    border-width: 0.2rem;
    padding: 0.7rem 1rem;
    border-color: #012340;
    font-weight: bold;
    letter-spacing: 0.1rem;
    box-shadow: 0.2rem 0.2rem 0.3rem #4f6070;
    transition: all 0.3s linear;
    cursor: pointer;
}

button:hover {
    color: #A62639;
    background-color: white;
    border-color: #A62639;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}

.section-container h3 {
    font-weight: 500;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0 0 0;
    letter-spacing: 0.1rem;
    border-bottom: 0.2rem solid #A62639;
}

/* HEADER */

header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 0.5px solid #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0;
    position: fixed;
    top: 0;
}

/* Logo */

#logo-wrapper {
    margin-left: 4rem;
}

#logo-wrapper a {
    text-decoration: none;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo img {
    height: 1.5rem;
    width: 3rem;
    filter: invert(20%) sepia(35%) saturate(4333%) hue-rotate(330deg) brightness(93%) contrast(93%);
    padding-top: 1rem;
}

#logo h1 {
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    letter-spacing: 0.1rem;
    text-shadow: 0 1px 0 #012340;
}


/* Nav */

nav {
    margin-right: 4rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-left: 1rem;
}

nav a {
    text-decoration: none;
    color: #012340;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.1rem 0.4rem;
    border-radius: 0.4rem;
}

/* a:active doesn't work */
nav a:active, a:hover {
  color: white;
  background-color: #A62639;
  transition: all 0.2s linear;
}

.active {
    color: white;
    background-color: #A62639;
}
  

/* Hero */

#hero {
    display: flex;
    justify-content: center;
    height: 85vh;
}

#hero-image {
    background: url('../images/person-wearing-glasses.jpg');
    background-color: #DCEAF2;
    height: 85vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
}

#hero h3 {
    font-weight: 500;
    font-size: 2.1rem;
    margin: 0;
}

#hero-text-wrapper {
    padding: 1rem;
    width: 36rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.85);
    margin-right: 4rem;
    border-radius: 0.4rem;
    /* border: 0.5px solid #4f6070; */
    box-shadow: 0.6rem 0.6rem 0.6rem #4f6070;

    /* animation zoom effect on loading page */
    /* animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards; */
}

/* level of zoom for hero text wrapper */
/* @keyframes hero-zoom {
    from{
        transform: scale(0.9);
        background-color: rgba(255, 255, 255, 0.5);
    }
    to{
        transform: scale(1);
    }
} */

#hero-title-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero-title-text h2 {
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid #A62639;
    margin: 0;
    text-shadow: 0 1px 0 #012340;
}

#hero-title-text h3 {
    font-style: italic;  
    margin-top: 0.5rem;
    margin-bottom: 3rem;  
}

#hero-sub-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero-sub-text h3 {
    font-weight: 700;
}

#hero-sub-text button {
    margin-top: 1rem;
    font-size: 1.5rem;
}


/* Services */

#services-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 2rem 0 2rem;
}

.services-box {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    border: 0.5px solid #4f6070;
    box-shadow: 0.6rem 0.6rem 0.6rem #4f6070;
    border-radius: 0.4rem;
}

.services-text {
    width: 90%;
}

.services-text ul li {
    font-size: 1.3rem;
    list-style-type: square;
    padding: 0.2rem 0;
}

.services-image {
    width: 100%;
    height: 15rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-image img {
    /* max-width: 25rem; */
    width: 100%;
    height: 15rem;
    border-radius: 0.4rem 0.4rem 0 0;
}


/* Find Us */

#find-us-wrapper {
    margin: 2rem 4rem 0 4rem;
}

#find-us-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
    font-size: 1.3rem;
}

#find-us-box h4 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 0;
}

#address strong {
    font-weight: 700;
}

#opening-hours {
    margin-left: 6rem;
}

#opening-hours ul {
    padding-left: 0;
}

#opening-hours ul li {
    list-style: none;
    padding-bottom: 0.5rem;
    display: flex;
}

#opening-hours ul strong {
    width: 20%;
    font-weight: 700;
}

#opening-hours ul span {
    width: 60%;
    padding-left: 4rem;
}

#map-container {
    margin-top: 3rem;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

/* Footer */

#footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    background-color: #FFE9E3;
}

#footer-phone .fa-phone {
    color: #A62639;
    font-size: 1.6rem;
}

#footer-phone span {
    font-size: 1.4rem;
    font-weight: 700;
    padding-left: 0.5rem;
}

#social-media-icons {
    margin-left: 6rem;
}

#social-media-icons ul li {
    list-style: none;
    display: inline-block;
}

#social-media-icons #middle-icon {
    padding: 0 2rem;
}

#social-media-icons ul a {
    font-size: 0;
}

#social-media-icons ul li:hover {
    transform: scale(1.2);
    transition: 1s;
}

#social-media-icons .fa-brands {
    background: #A62639;
    font-size: 1.2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    line-height: 3rem;
    color: white;
    text-align: center;
}



/* MEDIA QUERIES */

/* Global */

@media only screen and (max-width: 1200px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (max-width: 990px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 760px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
}



/* Header */
@media only screen and (max-width: 940px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #logo-wrapper {
        margin: 0;
    }    

    #logo img {
        height: 1.3rem;
        width: 2.9rem;
    }
    
    #logo h1 {
        font-size: 1.8rem;
    } 

    nav {
        margin: 0 0.5rem 0 0.5rem;
    }

    nav ul li {
        margin: 0;
        padding: 0 0.8rem;
    }

    nav a {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 480px) {

    #logo img {
        height: 0.8rem;
        width: 2.4rem;
    }
    
    #logo h1 {
        font-size: 1.4rem;
    }    

    nav ul li {
        padding: 0 0.2rem;
    }

    nav a {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 380px) {

    nav a {
        font-size: 1.1rem;
    } 
}


/* Hero */
@media only screen and (max-width: 1180px) {
    #hero-image {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    #hero-text-wrapper {
        margin: 0 3rem 3rem 0;
        padding: 0 2rem;
        width: 33rem;
        height: 22rem;
    }

    #hero-title-text h3 {
        margin-bottom: 2rem;  
    }
}

@media only screen and (max-width: 940px) {

    #hero-image {
        margin-top: 4.8rem;
        height: 80vh;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    #hero-text-wrapper {
        width: 33rem;
        height: 22rem;
        background-color: rgba(255, 255, 255, 0.80);
        box-shadow: none;
        margin: 0 0 1rem 0;
    }
}

@media only screen and (max-width: 830px) {

    #hero-title-text h3 {
        margin-bottom: 1rem;  
    }
}

@media only screen and (max-width: 480px) {
    #hero-image {
        margin-top: 3.4rem;
    }

    #hero-text-wrapper {
        width: 100%;
        height: 19rem;
        margin: 0;
        border-radius: 0;
    }

    #hero-text-wrapper h3 {
        font-size: 1.5rem;
    }

    #hero-sub-text button {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 380px) {
    #hero-image {
        margin-top: 3rem;
    } 

    #hero-text-wrapper {
        height: 16rem;
    }

    #hero-title-text h2 {
        font-size: 2.2rem;
    }

    #hero-text-wrapper h3 {
        font-size: 1.4rem;
    }
}


/* Services */
@media only screen and (max-width: 1280px) {

    #services-wrapper {
        display: flex;
        flex-direction: column;
    }

    .services-box {
        max-width: 100%;
        display: flex;
        flex-direction: row;
    } 
    .services-image img {
        border-radius: 0.4rem 0 0 0.4rem;    
    } 
}

@media only screen and (max-width: 600px) {
    .services-box {
        display: flex;
        flex-direction: column;
    }    
    .services-image img {
        border-radius: 0.4rem 0.4rem 0 0;    
    } 
}

/* Find Us */

@media only screen and (max-width: 830px) {
    #find-us-box {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }   

    #find-us-box h4 {
        margin-bottom: 0;
    }

    #opening-hours {
        margin-top: 2rem;
        margin-left: 0;
    }
}


/* Footer */
@media only screen and (max-width: 540px) {
    #footer-wrapper {
        display: flex;
        flex-direction: column;
        height: 10rem;
        padding-top: 1rem;
    }  

    #footer-phone {
        margin-bottom: 1rem;
    }

    #social-media-icons {
        margin-left: 0;
    }

    #social-media-icons ul {
        padding-left: 0;
    }
}


